<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom ">
    <h5 class=" my-0 mr-md-auto font-weight-normal btn-su ml-3"> Preguntas y Respuestas </h5>

    <nav class="my-2 my-md-0 mr-md-3">
      <a id = "cuestionarios" class="p-2 text btn-su" routerLink="/dashboard/">Cuestionarios </a>
      <a id="cambiar" class="p-2 text btn-su" routerLink="/dashboard/cambiarPassword">Cambiar Password</a>
    </nav>
      <a id= "logOut" class="btn btn-outline-success" routerLink="/inicio"> LogOut</a>
</div>